.App {
    text-align: center;
    color: rgba(0, 0, 0, 0.44);
  }
  
  .mat_truoc,
  .mat_sau {
    border-radius: 12px;
  }

  .mat_truoc {
    margin-top: 19px;
  }
  
  .mat_sau {
    margin-top: -4px;
  }

  @font-face {
    font-family: idFont;
    src: url(assets/font/RobotoMono-Regular.ttf);
  }
  
  @font-face {
    font-family: idFont1;
    src: url(assets/font/Inter-Regular.ttf);
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .list-string {
    width: 640px;
  }
  
  .row {
    display: flex;
    gap: 1.5px;
  }
  
  .string {
    width: 18px;
    line-height: 30px !important;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .in-preview {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    text-shadow: #111 0 0 1.5px;
  }
  
  .out-preview {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    text-shadow: #111 0 0 1.5px;
  }
  
  .card_id {
    position: absolute;
    top: 270px;
    left: 275px;
    font-weight: bold;
    font-size: 24px;
  }
  
  .name {
    position: absolute;
    top: 325px;
    left: 200px;
    font-size: 22px;
    font-weight: 500;
  }
  
  .birth_date {
    position: absolute;
    top: 350px;
    left: 390px;
    font-weight: 500;
    font-size: 16px;
  }
  
  .gender {
    position: absolute;
    top: 380px;
    left: 320px;
    font-weight: 500;
    font-size: 18px;
  }
  
  .nationality {
    position: absolute;
    top: 380px;
    left: 555px;
    font-weight: 500;
    font-size: 18px;
  }
  
  .origin {
    position: absolute;
    top: 427px;
    left: 200px;
    font-weight: 500;
    font-size: 18px;
  }
  
  .residence {
    position: absolute;
    top: 470px;
    left: 200px;
    font-weight: 500;
    font-size: 18px;
  }
  
  .expiry {
    position: absolute;
    top: 470px;
    left: 110px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .qr_code {
    width: 80px;
    height: 80px;
    top: 140px;
    position: absolute;
    left: 570px;
  }
  
  .identification {
    position: absolute;
    top: 132px;
    left: 20px;
    font-weight: 500;
    font-size: 16px;
  }
  
  .date {
    position: absolute;
    top: 160px;
    left: 285px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .id {
    position: absolute;
    width: 640px;
    top: 390px;
    left: 42px;
    word-break: break-all;
    font-size: 26px;
    font-weight: 500;
    font-family: idFont !important;
  }
  
  .font {
    padding-bottom: 0 !important;
    line-height: 34px !important;
    font-family: idFont1 !important;
  }
  
  .avatar {
    position: absolute;
    top: 249px;
    left: 18px;
    width: 165px;
    height: 212px;
  }
  
  .van-tay-1 {
    position: absolute;
    z-index: 999;
    width: 140px;
    height: 160px;
    top: 120px;
    left: 380px;
  }
  
  .van-tay-2 {
    position: absolute;
    z-index: 999;
    width: 113px;
    height: 139px;
    top: 131px;
    left: 549px;
  }
  
  .font1 {
    font-size: 30px !important;
    line-height: 28px !important;
  }
  